{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["last 1 version", "ie >= 11"]
        }
      }
    ],
    "@babel/preset-stage-0",
    "@babel/preset-react"
  ],
  "plugins": ["styled-name"],
  "env": {
    "development": {
      "plugins": ["react-hot-loader/babel"]
    }
  }
}
