{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["last 1 version", "ie >= 11"]
        }
      }
    ],
    "@babel/preset-stage-0",
    "@babel/preset-react"
  ],
  "plugins": [
    "styled-name",
    [
      "import",
      { "libraryName": "antd", "libraryDirectory": "es", "style": "css" }
    ]
  ],
  "env": {
    "development": {
      "plugins": ["react-hot-loader/babel"]
    }
  }
}
